#backgd{
    background-image: url(/images/grey.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#trailbg{
    background-image: url(/images/greybg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#dmain{
    width: 45%;
    height: 80%;
    background-color: rgba(245, 245, 220, 0.541);
    border-radius: 5px;
    border: 2px solid rgb(56, 55, 55);

    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
#dmain2{
    width: 49%;
    height: 80%;
    background-color: rgba(245, 245, 220, 0.541);
    border-radius: 5px;
    border: 2px solid rgb(56, 55, 55);
    overflow-y: scroll;

    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
#movie{
    width: 90px;

    position:absolute;
    left: 30%;
    top:5.2%;
    transform: translate(-50%, -50%);
}

.tabl{
    align-items: center;
}
.mainText{
    text-align: center;
    font-size: 20pt;
    font-family: monospace;
    color: rgb(58, 58, 58);
}
.actText{
    text-align: center;
    font-size: 20pt;
    font-family: monospace;
    color: rgb(58, 58, 58);
}
.paraText{
    text-align: center;
    font-size: 20;
    font-family: 'Courier New', Courier, monospace;
    
}

ul.ulnav{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #65625d ;
    font-family: monospace;
    font-size: 14pt;

    position:absolute;
    left: 50%;
    top:5%;
    transform: translate(-50%, -50%);

}
li.linav{
    float: left;
    
    
}
li.linav a{
    display: block;
    color:beige;
    text-align: center;
    padding: 14px  16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color:#f5eeda;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color:beige;
    color:#65625d;
}

/*small navbar in theaters tab \/ */

ul.ulnavs{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #65625d ;
    font-family: monospace;
    font-size: 14pt;

    position:absolute;
    left: 80%;
    top:19.5%;
    transform: translate(-50%, -50%);  
}
li.linavs{
   float: none;
    
    
}
li.linavs a{
    display: block;
    color:beige;
    text-align: center;
    padding: 20px  50px;
    text-decoration: none;
}
li.linavs a.active{
    display: block;
    color:#f5eeda;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linavs a:hover{
    background-color:beige;
    color:#65625d;
}

/*slider  \/ */

iframe.scroll{
    width: 20%;
    padding-left: 40%;
}
iframe.scroll:hover{
    width: 23%;
    padding-left: 40%;
}
 
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.content{
    height: 400px;
    width: 750px;
    overflow: hidden;
    position: relative;
    border: rgba(0, 0, 0, 0.384) solid 5px;
}
 
.content .images{
    height: 100%;
    width: 100%;
 
}
.images iframe{
    height: 100%;
    width: 100%;
 
}
.btm-sliders{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.btm-sliders span{
    height: 15px;
    width: 50px;
    border:2px solid white;
    margin: 0 3px;
    cursor: pointer;
}
.btm-sliders span:hover{
    background: white;
 
}
.content .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.3) ;
    cursor: pointer;
}
.content .slide:hover{
    background: rgba(255, 255, 255, 0.5) ;
}
.slide span{
    font-size: 35px;
    color: white;
    line-height: 41px;
    
}
.content .right{
    right: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content:hover {
    display: none;
    position: absolute;
    background-color: #ff0000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .checked {
    color: orange;
  }

  #amc{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  #amc:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  }
